In [9]:
# Create spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('CSCI316-Lab6')\
.config('spark-master', 'local')\
.getOrCreate()

# output the object (spark) information
spark

In [10]:
# Read a json file from local disk
directory = 'C://Users//japit//Documents//CSCI316'
df_RD = spark.read.format('csv')\
.option('header', 'true')\
.option('inferSchema', 'true')\
.load(directory+'/2010-12-01.csv')

# print the schema
df_RD.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [11]:
df_RD.show(2)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1/12/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1/12/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 2 rows

In [12]:
df_RD.select('InvoiceNo').distinct().count()

143

In [26]:
from pyspark.sql.functions import struct, col
from pyspark.sql.types import *
# create new dataframe using struct and col
myNewDf = df_RD.withColumn('newStruct', struct('StockCode','Quantity'))
myNewDf = myNewDf.withColumn('StockCode', col('newStruct.StockCode')).\
withColumn('Quantity', col('newStruct.Quantity')).\
drop('InvoiceNo', 'Description', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country','newStruct')
myNewDf.show()
myNewDf.printSchema()

+---------+--------+
|StockCode|Quantity|
+---------+--------+
|   85123A|       6|
|    71053|       6|
|   84406B|       8|
|   84029G|       6|
|   84029E|       6|
|    22752|       2|
|    21730|       6|
|    22633|       6|
|    22632|       6|
|    84879|      32|
|    22745|       6|
|    22748|       6|
|    22749|       8|
|    22310|       6|
|    84969|       6|
|    22623|       3|
|    22622|       2|
|    21754|       3|
|    21755|       3|
|    21777|       4|
+---------+--------+
only showing top 20 rows

root
 |-- StockCode: string (nullable = true)
 |-- Quantity: integer (nullable = true)

In [27]:
# create new dataframe using selectExpr
myNewDf2 = df_RD.selectExpr('StockCode as StockCode', 'Quantity as Quantity')
myNewDf2.show()
myNewDf2.printSchema()

+---------+--------+
|StockCode|Quantity|
+---------+--------+
|   85123A|       6|
|    71053|       6|
|   84406B|       8|
|   84029G|       6|
|   84029E|       6|
|    22752|       2|
|    21730|       6|
|    22633|       6|
|    22632|       6|
|    84879|      32|
|    22745|       6|
|    22748|       6|
|    22749|       8|
|    22310|       6|
|    84969|       6|
|    22623|       3|
|    22622|       2|
|    21754|       3|
|    21755|       3|
|    21777|       4|
+---------+--------+
only showing top 20 rows

root
 |-- StockCode: string (nullable = true)
 |-- Quantity: integer (nullable = true)